@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width:100%;
    left:0;
    top:0;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    float:right;

}

li {
    justify-content: flex-end;
    display: flex;
    

}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
  
}
  
a {
    display: block;
    padding: 20px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    /* identical to box height */
    
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

a:hover{
    color:#FF7630;

}

li:hover {
    background: #383838;
    text-shadow: 2px 2px black;

}

.slideSection1 {
    width: 100%;
    position: absolute;
    height: 960px;
    left: 0px;
    top: 0px;
    background-image: url(/images/Rectangle1.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;

}

.nav-container {
    background: rgba(0, 0, 0, 0.69);
    position: absolute;
    width: 100%;
    height: 68px;
    left: 0px;
    top: 24px;

}

.wrapper {
   max-width: 1200px;
   margin: 0 auto;

}

.ourMission {
    position: relative;
    top: 665px;
    
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.takeYouToTheTop {
    
    position:relative;
    top: 655px;
    font-weight: 900;
    font-size: 60px;
    line-height: 93px;
    /* identical to box height */
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
}

.elevatorButton {
    position:relative; 
    top: 675px;

}

/* ---------------------------- section 2 ------------------------------ */

.slideSection2 {
    /* Rectangle 2 */
    position:absolute;
    width: 100%;
    height: 711px;
    left: 0px;
    top: 960px;

    /* Sublight Engines/Gray */

    background: #383838;

}

.section2 {
    position:relative;
    top: 100px;

}

section.slideSection2 div.oneStopFor {
    top: 300px;
    text-align:center;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.oneStepCloser {
    text-align:center;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.container-1 {
    position:relative;
    top: 155px;
    display:flex;
    text-align: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;

    color: #FFFFFF;

}

.container-1 div{
    padding: 15px;
    margin: 10px;

}

.box-1 {
    flex:0.8;
    order:1;

}

.box-2 {
    flex:0.8;
    order:2;
    
}

.box-3 {
    flex:0.8;
    order:3;
    
}

/* ---------------------------- section 3 ------------------------------ */

.slideSection3 {
    width: 100%;
    position: absolute;
    top: 1760px;
    
}

.row {
    display:flex;
    width: 100%;
    align-items: center;
    
}

.row div {
    left:5%;
    right:5%;

}

.column-1 {
    flex:1;
    order:1;

    position:relative;
    margin-right:5%;
    margin-top:auto;
    margin-bottom:auto;
    
}

.column-2 {
    flex:1;
    order:2;

}

.column-1 h4 {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;
    margin: 0;

    /* Sublight Engines/Black */

    color: #292929;
}

.column-1 h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin: 0;

    /* Sublight Engines/Black */

    color: #292929;
}

.column-1 p {
    
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    width: 600px;
    /* or 110% */

    
    color: #000000;


}

/* ---------------------------- section 4 ------------------------------ */

.slideSection4 {
    position: absolute;
    width: 100%;
    height: 853px;
    left: 0px;
    

    /* Sublight Engines/Orange */

    background: #FF7630;
    
    top: 2265px;
    
    
}

.section4 {
    position:absolute;
    top: 68px;
    left: 1%;
    right: 1%;
    

}

section.slideSection4 div.needMoreFor {
    top: 300px;
    text-align:center;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.slideSection4 h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #383838;

}

.slideSection4 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    /* or 110% */
    text-align: center;
    /* Sublight Engines/Gray */
    color: #383838;

}

.container-4 {
    position:relative;
    top: 321px;
    display:flex;
    text-align: center;
    width: 75%;
    left:3.5%;
    right:3.5%;
    
    color: #FFFFFF;

}

.container-4 div{
    margin: 10px;
    filter: drop-shadow(0px 8px 11px rgba(0, 0, 0, 0.25));
    background: white;
    

}

.box-41 {
    flex:1;
    order:1;

}

.box-42 {
    flex:1;
    order:2;
    
}

.box-43 {
    flex:1;
    order:3;
    
}

.box-44 {
    flex:1;
    order:4;

}

.box-45 {
    flex:1;
    order:5;
    
}

.downloadButton {
    position: absolute;
    width: 294px;
    height: 50px;

    
    top: 687px;
    left: 40%;
    right: 40%;
    
    box-sizing: border-box;
    border: 3px solid #FFFFFF;
    background-color: transparent;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 122% */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.downloadButton:hover{
    color: #292929;
    border: 3px solid #292929;

}

/* ---------------------------- section 5 ------------------------------ */

.slideSection5 {
    position: absolute;
    width: 100%;
    height: 853px;
    left: 0px;

    /* Sublight Engines/Orange */
    
    top: 3150px;
    
}

.section5 {
    position:absolute;
    width: 100%;
    top: 100px;
    margin-left: auto;
    margin-right:auto;

}

section.slideSection5 div.stayInTouch {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;

    /* Sublight Engines/Black */

    color: #292929;

}

section.slideSection5 div.feelFreeTo {
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

    /* Sublight Engines/Orange */

    color: #FF7630;

}

.slideSection5 label {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    

    text-transform: uppercase;

    /* Sublight Engines/Black */

    color: #292929;

}

.container5 {
    position:relative;
    top:363px;
    width: 70%;
    margin-left:33.5%;
    margin-right:33.5%;
    
    
    
}

input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */


    /* Sublight Engines/Light Gray */

    color: #A0A0A0;

}

.longInput {
    
    margin: 8px 0;
    border: 1px solid #A0A0A0;
    width: 450px;
    height: 12px;
    padding:25px;

}

.shortInput {
    margin: 8px 0;
    
    border: 1px solid #A0A0A0;
    height:12px;
    padding:25px;
    width: 185px;


}

.dropdown {
    margin: 8px 0;
    border: 1px solid #A0A0A0;
    height: 64px;
    padding: 20px;
    width: 236px;

}

.container55 {
    display:flex;
    margin: 0 8;
    width:51%;

}

.inputOne {
    flex:0.8;
    order:1;

}

.inputTwo {
    flex:0.8;
    order:2;
    
}

select {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */


    /* Sublight Engines/Gray */

    color: #383838;

}

.formButton {
    border: 3px solid #292929;
    
    position: absolute;
    width: 503px;
    height: 55px;
    background: transparent;
    top: 375px;
    margin-left:auto;
    margin-right:auto;
    box-sizing: border-box;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    text-align: center;
    text-transform: uppercase;

    /* Sublight Engines/Black */

    color: #292929;

    z-index:99;

}

.formButton:hover {
    color: #FF7630;
    border: 3px solid #FF7630;
    cursor:pointer;

}

.formButton:active {
    color: steelblue;
    border: 3px solid steelblue;
    cursor:pointer;

}

/* ---------------------------- section 6 ------------------------------ */

.slideSection6 {
    position: absolute;
    width: 100%;
    height: 254px;
    left: 0px;
    top: 4050px;

    /* Sublight Engines/Black */

    background: #292929;
    
}

.slideSection6 h1 {
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    /* identical to box height */


    /* Sublight Engines/Orange */

    color: #FF7630;

}

.row6 {
    display:flex;
    width: 100%;
    
}

.row6 div {
    padding: 57px;

}

.column-61 {
    flex:1;
    order:1;
    margin-left:175px;
    
}

.column-62 {
    flex:1;
    order:2;
    margin-left:-100px;

}

/* ---------------------------- FOOTER ------------------------------ */

.footer {
    position: absolute;
    width: 100%;
    height: 853px;
    left: 0px;

    /* Sublight Engines/Orange */
    
    top: 3800px;
    
}

.rights {
    position:absolute;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    text-align: center;

    /* Sublight Engines/Black */

    color: #292929;
    bottom:25px;
    left:46%;;

}

.addressLeft {
    
    position:absolute;
    left: 100px;
    top: 600px;

}

.addressLeftFont {
    margin: 6px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;

}

.addressRight {
    position:absolute;
    right: 100px;
    top: 600px;
    text-align: right;
}

.addressRightFont {
    margin: 6px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;

}

.footer label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    text-transform: uppercase;

    /* Sublight Engines/Orange */

    color: #FF7630;

}

.logo {
    float:left;
    position: absolute;
    top:-10px;
    left: 1%;

}

/* wider monitors */
@media all and (min-width:1520px) and (max-width:2256px) {
    
    .container55 {
        
        display:flex;
        margin: 0 8;
        width:40%;
    
    }

    .container5 {
        position:relative;
        top:363px;
        width: 70%;
        margin-left:37.5%;
        margin-right:43.5%;
        
    }

    .row div {
        left:15%;
    
    }
    
    .column-1 {
        margin-right:7%;
        
    }

    .container-4 {
        
        width: 72%;
        left:14%;
        right:12.5%;
        
        color: #FFFFFF;
    
    }

    .downloadButton {
        top: 687px;
        left: 42.5%;
        right: 40%;
        cursor:pointer;
        
    
    }

    .column-61 {
        flex:1;
        order:1;
        margin-left:450px;
        
    }

    .column-62 {
        flex:1;
        order:2;
        margin-left:-150px;
    
    }

    .rights {
        
        left:46%;
    
    }

}


